Importo los modulos

In [148]:
import pandas as pd
from validate_email import validate_email
import re

Cargar de la data

In [149]:
df =pd.read_csv('Maternidad y bebes 2022.xlsx - Copia de LP.csv')

Funcion para colocar la primera letra en mayuscula

In [150]:
def Primera_l_mayuscula(df1,columna):
    if columna in df1:
        df1[columna] =df1[columna].str.capitalize()
        return df1
    else:
        print("la columna no existe")
        return df1

Funcion para validar email

In [151]:
def validar_email(df1,columna,nuevacolumn):
       if columna in df1:
          df1[nuevacolumn] = df1[columna].apply(lambda x:validate_email(x))
          df1[columna] = df1[columna].str.lower()
          df_correos_malos=df1[df1[nuevacolumn==False]]
       return df1,df_correos_malos

Renombrar columnas

In [152]:
def Renombrar_columna(df1,columna,nuevacolumn):
    if columna in df1:
        df1=df1.rename({columna:nuevacolumn},axis=1)
        return df1
    else:
        print("la columna no existe")
        return df1

Funcion para validar telefono

In [153]:
def validar_Telefono(df1,columna):
    if columna in df1:
      df1[columna]=df1[columna].astype('str')
      df1[columna]=df1[columna].str.slice(0,10)#extraer una sub cadena de la coluna
      telefono=df1[columna]
      patron= '^[3]\d{9}$'
      validar= re.compile(patron)
      valido=[]
      for t in telefono:
          valido.append('si'  if validar.search(t) is not None else 'no')

      telef=pd.Series(valido) 
      df1[columna]=telef 
      df1[df1.columna=='nan'].replace('nan','')
      df1[columna]=df1['celular'].replace('nan','')
      return df1

    else:
        print("la columna no existe")
        return df1

Obtener las columnas del dataframe

In [154]:
def obtener_nombres_columnas(df1):
     lista_columnas = df1.columns
     return lista_columnas

Crear columna nuevas

In [155]:
def Crear_columnas(df1):
    nombre_columna=[input('Ingrese el nombre de la columna que desea agregar: ')for _ in range(int(input('Ingrese el nuemro de columnas que desea agregar: ')))]
    for columna in nombre_columna:
        if not columna in df1 :
            df1[nombre_columna]=''
        return df1                 
    else:
        print('La columna ya existe')
        return df1

Eliminar columna y obtener la data borrada

In [156]:
def eliminar_columnas(df1):
      nombre_columna=[input('Ingrese el nombre de la columna que desea eliminar: ')for _ in range(int(input('Ingrese el nuemro de columnas que desea eliminar: ')))]
      for columna in nombre_columna:
        if columna in df1 :
            columna_eliminadas=df1[columna]
            df1.drop([columna], axis=1, inplace=True)
        return df1,columna_eliminadas

In [157]:
#df=Crear_columnas(df)
#df,columnas_eliminadas=eliminar_columnas(df)
#columnas_eliminadas

In [159]:
df.head()

,identificacionUsuario,correoElectronico,nombreCliente,celular,VentasLopido,Ciudad,Departamento
0,11000000019,at@sena.com,Erika Yuliana,3.000000e+09,20450,Garzon,Huila
1,11000000047,aah@sena.com,Viviana Gomez,3.000000e+09,21300,Neiva,Huila
2,11000000061,sergioalexander@hotmail.com,Erika Yuliana,3.000000e+09,21300,Neiva,Huila
3,83254781,juanandres@hotmail.com,Sergioalexander Perdomorivas,3.000000e+09,18450,Neiva,Huila
4,1010218223,natha@hotmail.com,Juanandres Camachoquiroz,3.000000e+09,18450,Neiva,Huila