In [132]:
import pandas as pd
from validate_email import validate_email
import re
df =pd.read_excel('Vencimientos No aptos Oct - Nov 2022 - 14 Octubre.xlsx')

In [133]:
df.columns

Index(['Cedula', 'Nombre', 'Email', 'Celular', 'Fecha de vencimiento 1',
       'Placa 1', 'Fecha de vencimiento 2', 'Placa 2',
       'Fecha de vencimiento 3', 'Placa 3', 'Fecha de vencimiento 4',
       'Placa 4', 'Fecha de vencimiento 5', 'Placa 5'],
      dtype='object')

In [134]:
df.Nombre

0         CASTULO
1          CARLOS
2         CHANTAL
3           LUCIO
4          HECTOR
          ...
8536        LAURA
8537    VALENTINA
8538         JUAN
8539       CAMILA
8540      PAULINA
Name: Nombre, Length: 8541, dtype: object

In [135]:
df['Nombre'] =df['Nombre'].str.capitalize()
df.Nombre

0         Castulo
1          Carlos
2         Chantal
3           Lucio
4          Hector
          ...
8536        Laura
8537    Valentina
8538         Juan
8539       Camila
8540      Paulina
Name: Nombre, Length: 8541, dtype: object

In [136]:
df['valid_email'] = df['Email'].apply(lambda x:validate_email(x))
df['Email'] = df['Email'].str.lower()
df[df['valid_email']== True]

,Cedula,Nombre,Email,Celular,Fecha de vencimiento 1,Placa 1,Fecha de vencimiento 2,Placa 2,Fecha de vencimiento 3,Placa 3,Fecha de vencimiento 4,Placa 4,Fecha de vencimiento 5,Placa 5,valid_email
0,72743,Castulo,drropain@hotmail.com,3157411039,2022-10-07,QHC490,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
1,104063,Carlos,carjorave@gmail.com,3155682233,2022-10-21,CPY724,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
2,227929,Chantal,nibenoitcoll@yahoo.fr,3125880397,2022-11-26,UBY027,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
3,239684,Lucio,lgmgastro@hotmail.com,3002038596,2022-10-20,DXM121,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
4,241426,Hector,gustavofuquen@gmail.com,3122979949,2022-10-25,DRK546,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8536,1234191270,Laura,lvcm0325@gmail.com,3195744404,2022-10-15,KLT14C,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
8537,1234194792,Valentina,valita1820@gmail.com,3188811268,2022-11-07,VCS409,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
8538,1234641865,Juan,palomare98@gmail.com,3105648124,2022-10-26,WOT18F,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
8539,1234788937,Camila,camila.parra@unillanos.edu.co,3205954558,2022-10-13,BOW917,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True
8540,1234988065,Paulina,pgr2407@gmail.com,3215800085,2022-10-11,PJQ04E,NaT,NaN,NaT,NaN,NaT,NaN,NaN,NaN,True

In [137]:
df['Celular']

0       3157411039
1       3155682233
2       3125880397
3       3002038596
4       3122979949
           ...
8536    3195744404
8537    3188811268
8538    3105648124
8539    3205954558
8540    3215800085
Name: Celular, Length: 8541, dtype: int64

In [139]:
telefonos= df['Celular'].astype(str)
patron= '^[3]\d{9}$'
validar= re.compile(patron)

for p in telefonos: